{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Photos</h1>
 {% for photo in photos %}
     <div class="card" style="width: 25rem;">
      <img class="photo" src="{{ photo.picture.url }}" alt="photo">
       {% include "partial/selected_photos.html" %}
     <div class="card-body">
         <p class="card-text"> Caption: {{ photo.caption }}</p>
         <p class="card-text"> Author: {{ photo.author.username }}</p>
           {% if photo.album %}
         <a href="{% url 'webapp:album_view' photo.album.pk %}"><p class="card-text"> Album: {{ photo.album }}</p></a>
         {% endif %}
         <p class="card-text"> Date: {{ photo.created_at }}</p>
     <a href="{% url 'webapp:view' photo.pk %}"><h4>Details</h4></a>
      {% if perms.webapp.change_photo %}
      <a href="{% url 'webapp:edit_photo' photo.pk %}"><h4>Edit</h4></a>
     {% endif %}
      {% if perms.webapp.delete_photo %}
     <a href="{% url 'webapp:delete_photo' photo.pk %}"><h4>Delete</h4></a>
     {% endif %}
  </div>
</div>
    {% endfor %}
     </div>
{% endblock %}