{% extends 'base.html' %}

{% block title %}Photo details {{ photo.pk }}{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}
     <img class="photo" src="{{ photo.picture.url }}" alt="photo">
    <p class="card-text"> Caption: {{ photo.caption }}</p>
           {% if photo.album %}
         <a href="{% url 'webapp:album_view' photo.album.pk %}"><p class="card-text"> Album: {{ photo.album }}</p></a>
         {% endif %}
         <p class="card-text"> Date: {{ photo.created_at }}</p>
    {% if author %}
        {% for a in author %}
         <a href="#"><p class="card-text"> Authors: {{ a.username }}</p></a>
        {% endfor %}
    {% endif %}
{% endblock %}